/*h1{
	color: red;
	text-align: center;
}*/
 h1,p{
	color:darkslateblue ;
	font-size: 30px;
	text-align: center;
	font-family:revert-layer ;
	font-weight: bold;
	font-style: italic;
	text-transform: uppercase;
/*	text-align: justify;*/
/*	text-decoration: underline;*/
	letter-spacing: 3px;
	word-spacing: 10px;
	text-decoration: line-through;
}
img{
	vertical-align: super;
}
#s{
	font-size: 25px;
	color: orange;
}
/*id or class ani css maa #f or .f*/
